.container{
    background-color: grey;
}

p{
    margin-left: 50px;
    margin-right:50px;
    margin-top: 50px;
    margin-bottom: 50px;
}

.external{
    background-color: black;
    color:white;
    font-size: large;
}